body {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-style: normal;
  font-family: Arial,Helvetica,sans-serif;
  font-stretch: normal;
  color: #555555;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  font-size-adjust: none;
  background-color: #4c4c4c;
}
#page {
  border: 1px solid #c9e0ed;
  background: #efefef none repeat scroll 0% 50%;
  margin-bottom: 5px;
  margin-top: 5px;
}
#header {
  border-top: 3px solid black;
  margin: 0;
  padding: 0;
}
#content {
  padding: 20px;
}
#sidebar {
  padding: 20px 20px 20px 0;
}
#footer {
  border-top: 2px solid black;
  margin: 10px 20px;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
#logo {
  padding: 10px 20px;
  font-size: 200%;
}
#mainmenu {
  background-color: #282828;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: left top;
  color: white;
}
#mainmenu ul {
  margin: 0px;
  padding: 6px 20px 5px;
}
#mainmenu ul li {
  display: inline;
}
#mainmenu ul li a {
  padding: 5px 8px;
  color: #ffffff;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a {
  color: #424242;
  background-color: #9a9ea1;
  text-decoration: none;
}
div.flash-error, div.flash-notice, div.flash-success {
  border: 2px solid #dddddd;
  padding: 0.8em;
  margin-bottom: 1em;
}
div.flash-error {
  border-color: #fbc2c4;
  background: #fbe3e4 none repeat scroll 0% 50%;
  color: #8a1f11;
}
div.flash-notice {
  border-color: #ffd324;
  background: #fff6bf none repeat scroll 0% 50%;
  color: #514721;
}
div.flash-success {
  border-color: #c6d880;
  background: #e6efc2 none repeat scroll 0% 50%;
  color: #264409;
}
div.flash-error a {
  color: #8a1f11;
}
div.flash-notice a {
  color: #514721;
}
div.flash-success a {
  color: #264409;
}
div.form .rememberMe label {
  display: inline;
}
div.view {
  border: 1px solid #c9e0ed;
  margin: 10px 0;
  padding: 10px;
}
div.breadcrumbs {
  padding: 5px 20px;
  font-size: 0.9em;
}
div.breadcrumbs span {
  font-weight: bold;
}
div.search-form {
  margin: 10px 0;
  padding: 10px;
  background: #eeeeee none repeat scroll 0% 50%;
}
.portlet {
}
.portlet-decoration {
  border-left: 5px solid black;
  padding: 3px 8px;
  background: silver none repeat scroll 0% 50%;
}
.portlet-title {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.portlet-content {
  margin: 0 0 15px;
  padding: 5px 8px;
  background: #eaeaea none repeat scroll 0% 50%;
  font-size: 0.9em;
}
.portlet-content ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
.portlet-content li {
  padding: 2px 0 4px 0px;
}
.operations {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.operations li {
  padding-bottom: 2px;
}
.operations li a {
  padding: 2px 0 2px 8px;
  font-family: Arial;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  color: #333333;
  display: block;
  line-height: 15px;
  text-decoration: none;
}
.operations li a:visited {
  color: #0066a4;
}
.operations li a:hover {
  background: #666666 none repeat scroll 0% 50%;
  color: white;
}
