.grid-view-loading {
  background: transparent url(loading.gif) no-repeat scroll 0%;
}
.grid-view {
  padding: 15px 0;
}
.grid-view table.items {
  border: 1px solid #333333;
  background: white none repeat scroll 0%;
  border-collapse: collapse;
  width: 100%;
}
.grid-view table.items th, .grid-view table.items td {
  border: 1px solid white;
  padding: 0.3em;
  font-size: 0.9em;
}
.grid-view table.items th {
  color: white;
  background-color: #666666;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: left top;
  text-align: center;
}
.grid-view table.items th a {
  color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
}
.grid-view table.items th a:hover {
  color: #ffffff;
}
.grid-view table.items th a.asc {
  background: transparent url(up.gif) no-repeat scroll right center;
  padding-right: 10px;
}
.grid-view table.items th a.desc {
  background: transparent url(down.gif) no-repeat scroll right center;
  padding-right: 10px;
}
.grid-view table.items tr.even {
  background: #cccccc none repeat scroll 0%;
}
.grid-view table.items tr.odd {
  background: silver none repeat scroll 0%;
}
.grid-view table.items tr.selected {
  background: #bce774 none repeat scroll 0%;
}
.grid-view table.items tr.selected:hover {
  background: #ccff66 none repeat scroll 0%;
}
.grid-view table.items tbody tr:hover {
  background: #ecfbd4 none repeat scroll 0%;
}
.grid-view .link-column img {
  border:  none;
}
.grid-view .button-column {
  text-align: center;
  width: 60px;
}
.grid-view .button-column img {
  border:  none;
}
.grid-view .checkbox-column {
  width: 15px;
}
.grid-view .summary {
  margin: 0 0 5px;
  text-align: right;
}
.grid-view .pager {
  margin: 5px 0 0;
  text-align: right;
}
.grid-view .empty {
  font-style: italic;
}
.grid-view .filters input, .grid-view .filters select {
  border: 1px solid #333333;
  width: 100%;
}
